.Box {
	.prompt {
		display: none;
		color: white;
		padding: 6px;
	}
	.middle {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -100%);
	}
	.top {
		position: absolute;
		left: 50%;
		top: -50%;
		transform: translate(-50%, -140%);
	}
	&:hover {
		background-color: rgba($color: grey, $alpha: 0.6);
		.prompt {
			display: block;
		}
	}
}
